click
protobuf
altair
attrs
blinker
cachetools
certifi
charset-normalizer
commonmark
contourpy
cycler
decorator
entrypoints
Faker
fonttools
gitdb
GitPython
htbuilder
idna
indoNLP
importlib-metadata
Jinja2
joblib
jsonschema
keras
kiwisolver
MarkupSafe
matplotlib
more-itertools
numpy
nltk
packaging
pandas
Pillow
protobuf
pyarrow
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
requests
rich
scikit-learn
scipy
semver
smmap
st-annotated-text
streamlit
streamlit-camera-input-live
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-keyup
streamlit-option-menu
streamlit-toggle-switch
streamlit-vertical-slider
threadpoolctl
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
tensorflow
urllib3
validators
watchdog
zipp
plotly
plotly.express
openpyxl

